<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <base href="web_site.ru">-->
<!--    <title>jinja include</title>-->
    <base href="{{ domain }}">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <ul class="menu_list">
            <li class="menu_items"><a href="index.html" class="links">ГЛАВНАЯ</a></li>
            <li class="menu_items"><a href="#assortment" class="links">НАШ АССОРТИМЕНТ</a></li>
            <li class="menu_items"><a href="#contacts" class="links">КОНТАКТЫ</a></li>
            <li class="menu_items"><a href="#reviews" class="links">ОТЗЫВЫ ПОКУПАТЕЛЕЙ</a></li>
        </ul>
    </header>
